<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="!connected">
    <input type="text" [(ngModel)]="username" placeholder="Username" />
    <button type="button" (click)="connect()">CONNECT</button>
</div>
<div *ngIf="connected">
    <h3>Your username: {{username}}</h3>
    <br/>
    <div *ngIf="step=='homePage'">
        <label>Chat with:</label> <br/>
        <select [(ngModel)]="selectedClient" >
            <option *ngFor="let client of clients">{{client}}</option>
        </select>
        <button type="button" (click)="send('initPrivChat')" >START PRIVATE CHAT</button>
        <br/>   
    </div>
    <div *ngIf="(userType != 'none' && step =='privChatRequest')" >
        {{requestMsg}} <br/>
        <div *ngIf="userType == 'guest'" >
            <button type="button" (click)="send('exchangeKeys')" >CONFIRM</button>
            <button type="button" (click)="send('closePrivChat')" >DECLINE</button>
        </div>
    </div>
    <div *ngIf="step=='privateChatting'">
        <input type="text" [(ngModel)]="inputText" (keyup.enter)="send(inputText)" width="150px" width placeholder="Input text" />
        <button type="button" (click)="send(inputText)" >SEND</button>
        <br/>
        <textarea [(ngModel)]="text" readonly rows="30" cols="100" ></textarea>
        <button type="button" (click)="send('closePrivChat')" >CLOSE</button>
    </div>
    <div *ngIf="step=='inviting'">
        <label>Waiting for the response of invited client!</label>
    </div>
</div>
</ion-content>
